{% extends "layout.html" %}
{% block title %} All Chai {% endblock %}
{% block content %}
<h1 class="text-4xl font-bold text-center my-8 text-[#012626]">Chai Page</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-6 max-w-full">
    {% for chai in chais %}
    <div class="bg-[#027368] p-5 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
        <img class="shadow-lg mx-auto rounded-lg w-full mb-4" src="{{chai.image.url}}" alt="{{chai.name}}" />
        <div class="flex items-center justify-between m-2">
            <h3 class="text-2xl font-bold text-white">{{chai.name}}</h3>
            <h4 class="bg-[#038C7F] font font-semibold px-1 rounded-md hover:bg-[#038c7fd0] cursor-none">${{chai.price}}</h4>
        </div>
        <a href="{% url 'chai_detail' chai.id %}">
            <button
                type="button"
                class="inline-flex items-center w-full justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-[#01403A] hover:bg-[#01403a8d] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#038c7f84] transition-colors duration-300"
            >
                {{chai.type}} - {{chai.id}}
            </button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
