{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Django
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    {% tailwind_css %}

</head>
<body>
    <nav>this is our navbar</nav>
    {% block  content %}{% endblock %}
    <footer>this is our footer</footer>
</body>
</html>