{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Django
        {% endblock %}
    </title>
    {% tailwind_css %}

</head>
<body class="bg-[#042326] text-stone-50">
    <nav class="bg-[#1D7373] p-4">
        <div class="container mx-auto">
            <h1 class="text-2xl font-bold">This is our Navbar</h1>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
